<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Movie State - Film VF</title>
  <link rel="icon" type="image/png"
    href="https://findicons.com/files/icons/1188/somatic_rebirth_system/128/movies.png" />
  <meta name="description" content="Streaming complet et vf gratuit !" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="Movie State" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#2f3136" />
  <meta name="apple-mobile-web-app-title" content="Movie State" />
  <meta property="og:title" content="Film VF | Movie State" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Movie State" />
  <meta property="og:url" content="/" />
  <meta property="og:description" content="Streaming complet et vf gratuit !" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Film VF | Movie State" />
  <meta name="twitter:description" content="Streaming complet et vf gratuit !" />
  <meta name="twitter:image" content="https://findicons.com/files/icons/1188/somatic_rebirth_system/128/movies.png" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://findicons.com/files/icons/1188/somatic_rebirth_system/128/movies.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://findicons.com/files/icons/1188/somatic_rebirth_system/128/movies.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://findicons.com/files/icons/1188/somatic_rebirth_system/128/movies.png">
  <meta name="msapplication-TileColor" content="#2f3136">
  <meta name="msapplication-TileImage"
    content="https://findicons.com/files/icons/1188/somatic_rebirth_system/128/movies.png">
  <meta name="theme-color" content="#2f3136">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto%20Condensed:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://moviestate.herokuapp.com/src/js/dernier.js"></script>
  <script src="https://moviestate.herokuapp.com/src/js/populare.js"></script>
  <link rel="stylesheet" href="https://moviestate.herokuapp.com/src/css/index.css">
</head>

<body id="home">
  <nav class="navbar fixed-top navbar-dark bg-maincolor-black navbar-expand">
    <div class="container">
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item"><a style="font-size: large;" class="nav-link" href="/"><img class="content"
                src="https://moviestate.herokuapp.com/src/img/logo.png"
                width="30"><span style="color:gray;">MOVIE-</span>STATE</a></li>
          <li class="nav-item"><a style="font-size: large;" class="nav-link" href="/"><span>Accueil</span></a></li>
          <li><a style="font-size: large;" class="nav-link" href="/filmvf"><span>Film VF</span></a></li>
          <!-- <li class="nav-item"><a style="font-size: large;" class="nav-link" href="https://discord.gg/qN4uAekx"><span>Discord</span></a></li> -->
        </ul>

      </div>
    </div>
  </nav>
  <div id="main">
    <div id="home">
      <br />
      <br />
      <div class="container">
        <div class="row no-gutters js-last-episode-container" style="margin: .5em -.75em;">
          <div class="listing-film" id="regular-list-film" style="padding-bottom: 0">
            <h1 class="moviestate header">
              <span class="bar">DERNIERS FILMS AJOUT&Eacute;S:</span>
            </h1>
            <div id="dernier-movies" class="row">
            </div>
            <br> <br><br>
          </div>
          <div class="row no-gutters">
            <div class="col">
              <div class="listing-film" id="regular-list-film" style="padding-bottom: 0">
                <h1 class="moviestate header">
                  <span class="bar">TOP FILMS:</span>
                </h1>
                <div id="populare-movies" class="row">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>